service firebase.storage {
  match /b/chat-f90be.appspot.com/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}